@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    --primary-color: #FAFA33;
    --width-break: 600px;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0px;
}

nav {
    background-color: var(--primary-color);
    text-align: center;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

h3 {
    text-align: center;
}

textarea {
    margin: auto;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
    max-width: 600px;
}

#output {
    margin: auto;
    max-width: 600px;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.25rem;
    box-sizing: border-box;
    width: 100%;
    min-height: 15vh;
    max-height: 20vh;
    overflow: scroll;
}

button {
    font-family: inherit;
    font-weight: bold;
    color: black;
    background-color: var(--primary-color);
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 18px;
}

#translate-button {
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: center;
}

.footer {
    background-color: var(--primary-color);
    padding: 3rem 1rem;
    text-align: center;
    color: black;
    border-top-right-radius: 1rem;
    margin-top: 30px;
}

.footer-header {
    font-size: larger;
    font-weight:bolder;
    padding-bottom: 1rem;
}

.footer-text {
    margin: auto;
    max-width: 600px;
}
