@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    --primary-color: #FAFA33;
    --width-break: 600px;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--primary-color);
}

h1 {
    text-align: center;
    padding-bottom: 3rem;
}

h3 {
    text-align: center;
}

textarea {
    margin: auto;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
    max-width: 600px;
}

/**
#input-box {
    padding-top: 3rem;
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
}
**/

#output {
    margin: auto;
    max-width: 600px;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.25rem;
    box-sizing: border-box;
    width: 100%;
    min-height: 15vh;
    max-height: 20vh;
    overflow: scroll;
}

button {
    font-family: 'Inter', sans-serif;
    color: var(--primary-color);
    background-color: black;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 18px;
}

#translate-button {
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: center;
}